In [1]:
import pandas as pd
import numpy as np

In [4]:

# Charger les données
df = pd.read_csv('avito_car_dataset.csv')

In [6]:
# Afficher les premières lignes du dataset
print(df.head())

   Unnamed: 0                                               Lien       Ville  \
0           0  https://www.avito.ma/fr/massira_2/voitures/FIA...      Temara
1           1  https://www.avito.ma/fr/temara/voitures/Dacia_...      Temara
2           2  https://www.avito.ma/fr/casablanca/voitures/Da...  Casablanca
3           3  https://www.avito.ma/fr/casablanca/voitures/to...  Casablanca
4           4  https://www.avito.ma/fr/dakhla/voitures/Toyota...      Dakhla

     Secteur      Marque      Modèle  Année-Modèle        Kilométrage  \
0  Massira 2        Fiat       Punto          2007  200 000 - 249 999
1        NaN       Dacia  Dokker Van          2013  400 000 - 449 999
2        NaN       Dacia      Dokker          2014  160 000 - 169 999
3        NaN  Volkswagen     Touareg          2005          0 - 4 999
4        NaN      Toyota       Prado          2007  200 000 - 249 999

  Type de carburant  Puissance fiscale  ... Caméra de recul  \
0            Diesel                  5  ...           False
1            Diesel                  6  ...           False
2            Diesel                  6  ...           False
3            Diesel                 10  ...           False
4            Diesel                 12  ...           False

   Vitres électriques    ABS    ESP Régulateur de vitesse  \
0               False   True  False                 False
1               False  False  False                 False
2               False  False  False                 False
3               False  False  False                 False
4               False   True  False                 False

   Limiteur de vitesse  CD/MP3/Bluetooth  Ordinateur de bord  \
0                False              True               False
1                False             False               False
2                False             False               False
3                False             False               False
4                False              True               False

   Verrouillage centralisé à distance   Prix
0                               False  60000
1                               False  70000
2                               False  90000
3                               False  90000
4                               False  97000

[5 rows x 32 columns]

In [7]:
# Supprimer la colonne 'Secteur', unnamed :0 ,lien
df = df.drop(columns=['Unnamed: 0', 'Lien','Secteur'])

In [8]:
# Afficher les informations générales sur les colonnes et les types de données
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24776 entries, 0 to 24775
Data columns (total 29 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Ville                               24776 non-null  object
 1   Marque                              24776 non-null  object
 2   Modèle                              24776 non-null  object
 3   Année-Modèle                        24776 non-null  int64
 4   Kilométrage                         24776 non-null  object
 5   Type de carburant                   24776 non-null  object
 6   Puissance fiscale                   24776 non-null  int64
 7   Boite de vitesses                   24776 non-null  object
 8   Nombre de portes                    20396 non-null  float64
 9   Origine                             19489 non-null  object
 10  Première main                       18567 non-null  object
 11  État                                18098 non-null  object
 12  Jantes aluminium                    24776 non-null  bool
 13  Airbags                             24776 non-null  bool
 14  Climatisation                       24776 non-null  bool
 15  Système de navigation/GPS           24776 non-null  bool
 16  Toit ouvrant                        24776 non-null  bool
 17  Sièges cuir                         24776 non-null  bool
 18  Radar de recul                      24776 non-null  bool
 19  Caméra de recul                     24776 non-null  bool
 20  Vitres électriques                  24776 non-null  bool
 21  ABS                                 24776 non-null  bool
 22  ESP                                 24776 non-null  bool
 23  Régulateur de vitesse               24776 non-null  bool
 24  Limiteur de vitesse                 24776 non-null  bool
 25  CD/MP3/Bluetooth                    24776 non-null  bool
 26  Ordinateur de bord                  24776 non-null  bool
 27  Verrouillage centralisé à distance  24776 non-null  bool
 28  Prix                                24776 non-null  int64
dtypes: bool(16), float64(1), int64(3), object(9)
memory usage: 2.8+ MB
None

In [9]:

# Résumer les statistiques descriptives
print(df.describe(include='all'))

             Ville      Marque  Modèle  Année-Modèle        Kilométrage  \
count        24776       24776   24776  24776.000000              24776
unique         191          23     369           NaN                 36
top     Casablanca  Volkswagen  Kangoo           NaN  200 000 - 249 999
freq          6270        3503    1213           NaN               2760
mean           NaN         NaN     NaN   2011.844244                NaN
std            NaN         NaN     NaN      5.462925                NaN
min            NaN         NaN     NaN   1990.000000                NaN
25%            NaN         NaN     NaN   2008.000000                NaN
50%            NaN         NaN     NaN   2013.000000                NaN
75%            NaN         NaN     NaN   2016.000000                NaN
max            NaN         NaN     NaN   2022.000000                NaN

       Type de carburant  Puissance fiscale Boite de vitesses  \
count              24776       24776.000000             24776
unique                 4                NaN                 3
top               Diesel                NaN          Manuelle
freq               22618                NaN             17452
mean                 NaN           7.193938               NaN
std                  NaN           1.574124               NaN
min                  NaN           5.000000               NaN
25%                  NaN           6.000000               NaN
50%                  NaN           7.000000               NaN
75%                  NaN           8.000000               NaN
max                  NaN          14.000000               NaN

        Nombre de portes      Origine  ... Caméra de recul Vitres électriques  \
count       20396.000000        19489  ...           24776              24776
unique               NaN            4  ...               1                  1
top                  NaN  WW au Maroc  ...           False              False
freq                 NaN        14574  ...           24776              24776
mean            4.905766          NaN  ...             NaN                NaN
std             0.423789          NaN  ...             NaN                NaN
min             3.000000          NaN  ...             NaN                NaN
25%             5.000000          NaN  ...             NaN                NaN
50%             5.000000          NaN  ...             NaN                NaN
75%             5.000000          NaN  ...             NaN                NaN
max             5.000000          NaN  ...             NaN                NaN

          ABS    ESP Régulateur de vitesse Limiteur de vitesse  \
count   24776  24776                 24776               24776
unique      2      2                     1                   1
top      True  False                 False               False
freq    13111  15651                 24776               24776
mean      NaN    NaN                   NaN                 NaN
std       NaN    NaN                   NaN                 NaN
min       NaN    NaN                   NaN                 NaN
25%       NaN    NaN                   NaN                 NaN
50%       NaN    NaN                   NaN                 NaN
75%       NaN    NaN                   NaN                 NaN
max       NaN    NaN                   NaN                 NaN

       CD/MP3/Bluetooth Ordinateur de bord Verrouillage centralisé à distance  \
count             24776              24776                              24776
unique                2                  1                                  1
top                True              False                              False
freq              12957              24776                              24776
mean                NaN                NaN                                NaN
std                 NaN                NaN                                NaN
min                 NaN                NaN                                NaN
25%                 NaN                NaN                                NaN
50%                 NaN                NaN                                NaN
75%                 NaN                NaN                                NaN
max                 NaN                NaN                                NaN

                Prix
count   2.477600e+04
unique           NaN
top              NaN
freq             NaN
mean    2.169588e+05
std     6.749569e+06
min     6.000000e+04
25%     7.500000e+04
50%     1.000000e+05
75%     1.400000e+05
max     6.120372e+08

[11 rows x 29 columns]

In [10]:
# Vérifier les valeurs manquantes
print(df.isnull().sum())

Ville                                    0
Marque                                   0
Modèle                                   0
Année-Modèle                             0
Kilométrage                              0
Type de carburant                        0
Puissance fiscale                        0
Boite de vitesses                        0
Nombre de portes                      4380
Origine                               5287
Première main                         6209
État                                  6678
Jantes aluminium                         0
Airbags                                  0
Climatisation                            0
Système de navigation/GPS                0
Toit ouvrant                             0
Sièges cuir                              0
Radar de recul                           0
Caméra de recul                          0
Vitres électriques                       0
ABS                                      0
ESP                                      0
Régulateur de vitesse                    0
Limiteur de vitesse                      0
CD/MP3/Bluetooth                         0
Ordinateur de bord                       0
Verrouillage centralisé à distance       0
Prix                                     0
dtype: int64

In [11]:
df = df.drop(columns=['Première main'], axis=1)

In [13]:
# Afficher les valeurs uniques de la colonne 'Origine'
print("Valeurs uniques de la colonne 'Origine' :")
print(df['Origine'].unique())

print("\n-------------------------------------\n")

# Afficher les valeurs uniques de la colonne 'État'
print("Valeurs uniques de la colonne 'État' :")
print(df['État'].unique())

Valeurs uniques de la colonne 'Origine' :
['WW au Maroc' 'Dédouanée' nan 'Importée neuve' 'Pas encore dédouanée']

-------------------------------------

Valeurs uniques de la colonne 'État' :
['Très bon' 'Excellent' nan 'Bon' 'Pour Pièces' 'Correct' 'Endommagé']

In [15]:
# Supprimer les lignes avec des valeurs manquantes dans les colonnes concernées
df = df.dropna(subset=['Nombre de portes', 'Origine', 'État'])

# Vérifier que les lignes ont bien été supprimées
print(df.isnull().sum())

Ville                                 0
Marque                                0
Modèle                                0
Année-Modèle                          0
Kilométrage                           0
Type de carburant                     0
Puissance fiscale                     0
Boite de vitesses                     0
Nombre de portes                      0
Origine                               0
État                                  0
Jantes aluminium                      0
Airbags                               0
Climatisation                         0
Système de navigation/GPS             0
Toit ouvrant                          0
Sièges cuir                           0
Radar de recul                        0
Caméra de recul                       0
Vitres électriques                    0
ABS                                   0
ESP                                   0
Régulateur de vitesse                 0
Limiteur de vitesse                   0
CD/MP3/Bluetooth                      0
Ordinateur de bord                    0
Verrouillage centralisé à distance    0
Prix                                  0
dtype: int64

In [17]:
# Imputer d'abord, puis encoder
from sklearn.preprocessing import LabelEncoder

# Encoder les colonnes catégorielles
label_enc = LabelEncoder()
df['Origine'] = label_enc.fit_transform(df['Origine'])

df['État'] = label_enc.fit_transform(df['État'])

# Vérification
print(df.head())

        Ville      Marque      Modèle  Année-Modèle        Kilométrage  \
0      Temara        Fiat       Punto          2007  200 000 - 249 999
1      Temara       Dacia  Dokker Van          2013  400 000 - 449 999
2  Casablanca       Dacia      Dokker          2014  160 000 - 169 999
3  Casablanca  Volkswagen     Touareg          2005          0 - 4 999
4      Dakhla      Toyota       Prado          2007  200 000 - 249 999

  Type de carburant  Puissance fiscale Boite de vitesses  Nombre de portes  \
0            Diesel                  5          Manuelle               5.0
1            Diesel                  6          Manuelle               3.0
2            Diesel                  6          Manuelle               5.0
3            Diesel                 10       Automatique               5.0
4            Diesel                 12          Manuelle               5.0

   Origine  ...  Caméra de recul  Vitres électriques    ABS    ESP  \
0        3  ...            False               False   True  False
1        3  ...            False               False  False  False
2        3  ...            False               False  False  False
3        3  ...            False               False  False  False
4        3  ...            False               False   True  False

   Régulateur de vitesse  Limiteur de vitesse  CD/MP3/Bluetooth  \
0                  False                False              True
1                  False                False             False
2                  False                False             False
3                  False                False             False
4                  False                False              True

   Ordinateur de bord  Verrouillage centralisé à distance   Prix
0               False                               False  60000
1               False                               False  70000
2               False                               False  90000
3               False                               False  90000
4               False                               False  97000

[5 rows x 28 columns]

C:\Users\pc\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\pc\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [18]:
# Afficher les valeurs uniques de la colonne 'Origine'
print("Valeurs uniques de la colonne 'Origine' :")
print(df['Origine'].unique())

print("\n-------------------------------------\n")

# Afficher les valeurs uniques de la colonne 'État'
print("Valeurs uniques de la colonne 'État' :")
print(df['État'].unique())

Valeurs uniques de la colonne 'Origine' :
[3 0 1 2]

-------------------------------------

Valeurs uniques de la colonne 'État' :
[5 3 0 4 1 2]

In [20]:
df['Type de carburant'].unique()
df['Type de carburant'] = label_enc.fit_transform(df['Type de carburant'])

C:\Users\pc\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15645 entries, 0 to 24774
Data columns (total 28 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Ville                               15645 non-null  object
 1   Marque                              15645 non-null  object
 2   Modèle                              15645 non-null  object
 3   Année-Modèle                        15645 non-null  int64
 4   Kilométrage                         15645 non-null  object
 5   Type de carburant                   15645 non-null  int32
 6   Puissance fiscale                   15645 non-null  int64
 7   Boite de vitesses                   15645 non-null  int32
 8   Nombre de portes                    15645 non-null  float64
 9   Origine                             15645 non-null  int64
 10  État                                15645 non-null  int32
 11  Jantes aluminium                    15645 non-null  bool
 12  Airbags                             15645 non-null  bool
 13  Climatisation                       15645 non-null  bool
 14  Système de navigation/GPS           15645 non-null  bool
 15  Toit ouvrant                        15645 non-null  bool
 16  Sièges cuir                         15645 non-null  bool
 17  Radar de recul                      15645 non-null  bool
 18  Caméra de recul                     15645 non-null  bool
 19  Vitres électriques                  15645 non-null  bool
 20  ABS                                 15645 non-null  bool
 21  ESP                                 15645 non-null  bool
 22  Régulateur de vitesse               15645 non-null  bool
 23  Limiteur de vitesse                 15645 non-null  bool
 24  CD/MP3/Bluetooth                    15645 non-null  bool
 25  Ordinateur de bord                  15645 non-null  bool
 26  Verrouillage centralisé à distance  15645 non-null  bool
 27  Prix                                15645 non-null  int64
dtypes: bool(16), float64(1), int32(3), int64(4), object(4)
memory usage: 1.6+ MB

In [22]:

df['Boite de vitesses'] = label_enc.fit_transform(df['Boite de vitesses'])
df['Marque'] = label_enc.fit_transform(df['Marque'])
df['Modèle'] = label_enc.fit_transform(df['Modèle'])

C:\Users\pc\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [24]:
df = df.drop(columns=['Ville'])

In [26]:
# Encoder les colonnes booléennes (Oui/Non) en 0 et 1
bool_cols = ['Jantes aluminium', 'Airbags', 'Climatisation', 'Système de navigation/GPS', 'Toit ouvrant', 
             'Sièges cuir', 'Radar de recul', 'Caméra de recul', 'Vitres électriques', 
             'ABS', 'ESP', 'Régulateur de vitesse', 'Limiteur de vitesse', 
             'CD/MP3/Bluetooth', 'Ordinateur de bord', 'Verrouillage centralisé à distance']

# S'assurer que ces colonnes sont bien de type booléen
df[bool_cols] = df[bool_cols].astype(int)

In [34]:


#  de conversion d'une plage de kilométrage en nombre
def parse_km(km_str):
    # Si la valeur est un intervalle (par exemple "200 000 - 249 999")
    if isinstance(km_str, str) and '-' in km_str:
        # Extraire les bornes de la plage
        km_range = km_str.split(' - ')
        km_min = int(km_range[0].replace(' ', ''))  # Convertir sans les espaces
        km_max = int(km_range[1].replace(' ', ''))
        
        # Retourner la valeur médiane ou la valeur minimale
        return (km_min + km_max) // 2  # On peut aussi retourner km_min ou km_max selon le besoin
    
    # Si la valeur est un simple kilométrage (par exemple "150000")
    elif isinstance(km_str, str):
        return int(km_str.replace(' ', ''))  # Enlever les espaces et convertir en entier

    return km_str  # Retourner la valeur si elle est déjà numérique

# Appliquer cette fonction à la colonne Kilométrage
df['Kilométrage'] = df['Kilométrage'].apply(parse_km)

# Vérification du résultat
print(df['Kilométrage'].head())

0    224999
1    424999
2    164999
3      2499
4    224999
Name: Kilométrage, dtype: int64

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15645 entries, 0 to 24774
Data columns (total 27 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Marque                              15645 non-null  int32
 1   Modèle                              15645 non-null  int32
 2   Année-Modèle                        15645 non-null  int64
 3   Kilométrage                         15645 non-null  int64
 4   Type de carburant                   15645 non-null  int32
 5   Puissance fiscale                   15645 non-null  int64
 6   Boite de vitesses                   15645 non-null  int32
 7   Nombre de portes                    15645 non-null  float64
 8   Origine                             15645 non-null  int64
 9   État                                15645 non-null  int32
 10  Jantes aluminium                    15645 non-null  int32
 11  Airbags                             15645 non-null  int32
 12  Climatisation                       15645 non-null  int32
 13  Système de navigation/GPS           15645 non-null  int32
 14  Toit ouvrant                        15645 non-null  int32
 15  Sièges cuir                         15645 non-null  int32
 16  Radar de recul                      15645 non-null  int32
 17  Caméra de recul                     15645 non-null  int32
 18  Vitres électriques                  15645 non-null  int32
 19  ABS                                 15645 non-null  int32
 20  ESP                                 15645 non-null  int32
 21  Régulateur de vitesse               15645 non-null  int32
 22  Limiteur de vitesse                 15645 non-null  int32
 23  CD/MP3/Bluetooth                    15645 non-null  int32
 24  Ordinateur de bord                  15645 non-null  int32
 25  Verrouillage centralisé à distance  15645 non-null  int32
 26  Prix                                15645 non-null  int64
dtypes: float64(1), int32(21), int64(5)
memory usage: 2.1 MB

In [36]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.preprocessing import StandardScaler

In [37]:
# 1. Séparer les features (X) et la cible (y)
X = df.drop(columns=['Prix'])  # Supposons que 'Prix' est la colonne cible
y = df['Prix']

# 2. Diviser les données en ensembles d'entraînement et de test
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [38]:
# 3. Normaliser les données (si nécessaire pour certains modèles)
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train.select_dtypes(include=[np.number]))  # Normaliser les features numériques
X_test_scaled = scaler.transform(X_test.select_dtypes(include=[np.number]))

In [39]:
# 4. Appliquer la régression linéaire
model = LinearRegression()
model.fit(X_train_scaled, y_train)

# 5. Prédictions sur l'ensemble de test
y_pred = model.predict(X_test_scaled)

# 6. Évaluer le modèle
mse = mean_squared_error(y_test, y_pred)
rmse = np.sqrt(mse)
r2 = r2_score(y_test, y_pred)

print("MSE:", mse)
print("RMSE:", rmse)
print("R2:", r2)

MSE: 136435110946.18687
RMSE: 369371.2373022389
R2: 0.01014884166859742

In [40]:
from sklearn.ensemble import RandomForestRegressor

# Appliquer un modèle de forêt aléatoire
rf_model = RandomForestRegressor(n_estimators=100, random_state=42)
rf_model.fit(X_train, y_train)

# Prédictions sur l'ensemble de test
y_rf_pred = rf_model.predict(X_test)

# Évaluer le modèle
rf_mse = mean_squared_error(y_test, y_rf_pred)
rf_rmse = np.sqrt(rf_mse)
rf_r2 = r2_score(y_test, y_rf_pred)

print("Random Forest MSE:", rf_mse)
print("Random Forest RMSE:", rf_rmse)
print("Random Forest R2:", rf_r2)

Random Forest MSE: 8929788503.187723
Random Forest RMSE: 94497.5581863771
Random Forest R2: 0.9352134400578076